<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/img/echomercio_logo.png" alt="Echomercio Logo" class="main-logo">
<form>

  <ion-item class="form">
    <ion-label position="floating">Usuario o correo electrónico</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>

  <ion-item class="form">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

</form>
    <ion-button (click)="doLogin()" expand="block" color="danger">Entrar</ion-button>
    <ion-button [routerLink]="['/registro']" expand="block" color="light">No tengo cuenta</ion-button>
    <br><a [routerLink]="['/recupera_cuenta']" class="form">¿Olvidé mi contraseña?</a>
</ion-content>
