<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main-logo">
    <img src="assets/img/echomercio_logo.png" alt="Echomercio Logo">
  </div>
    <ion-button [routerLink]="['/intro']" expand="block" color="primary">Ver presentación</ion-button>
    <ion-button [routerLink]="['/login']" expand="block" color="danger">Ya tengo cuenta</ion-button>
    <ion-button [routerLink]="['/registro']" expand="block" color="light">Crear cuenta</ion-button>
</ion-content>
